/* Page font style */
* {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
}
/* Header style (font, background color, font-color*/
#header {
    font-size: 30px;
    padding: 1rem;
    border-bottom: 1px solid #000000;
    font-family: 'Cinzel', serif;
    background-color: rgb(6, 89, 167);
    color: #ffffff;
}
/* add padding to show full gif */
body {
    padding-bottom:60px;
}
#add {
    font-size: 18px;
}
/* Padding to space terms */
#addTerm {
    padding-top: 10px;
    font-size: 20px;
}
/* Footer styling */
#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
    font-family: 'Cinzel', serif;
    background-color: rgb(6, 89, 167);
    color: #ffffff;
    margin-top: 5px;
}


/* Shake buttons */

button:hover {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {

    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}